includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::searchableAs\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::queryScoutModelsByIds\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::unsearchable\(\).#'
        - '#Call to an undefined method Laravel\\Scout\\Builder::cursor\(\).#'
        - '#Parameter (.*?) of method (.*?) expects Illuminate\\Database\\Eloquent\\Collection, Illuminate\\Support\\Collection<(.*?)> given.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getScoutModelsByIds\(\).#'
