includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getScoutKey\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getScoutKeyName\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getScoutModelsByIds\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::queryScoutModelsByIds\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::scoutMetadata\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::searchableAs\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::toSearchableArray\(\).#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection<int, covariant Illuminate\\Database\\Eloquent\\Model>>::pushSoftDeleteMetadata\(\).#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection<int, covariant Illuminate\\Database\\Eloquent\\Model>>::getScoutKey\(\).#'
