name: Tests

on:
  pull_request:
  push:
    branches:
      - master
      - '[0-9]+.x'
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: ['8.0', 8.1, 8.2]
        stability: [lowest, highest]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.23.0
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - if: matrix.php == '8.1'
        name: Require packages for PHP 8.1
        run: composer require orchestra/testbench:'^6.23 || ^7.0 || ^8.0' --no-update

      - if: matrix.php == '8.2'
        name: Require packages for PHP 8.2
        run: composer require orchestra/testbench:'^6.23 || ^7.0 || ^8.0' nesbot/carbon:^2.62.1 --no-update

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.stability }}

      - name: Execute tests
        run: composer run-script test:phpunit -- --coverage-clover coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Code Climate
        uses: paambaati/codeclimate-action@v3.2.0
        continue-on-error: true
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: ls
          coverageLocations: ${{github.workspace}}/coverage.xml:clover
